[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sklearn = "*"
numpy = "*"
scipy = "*"
nltk = "*"
pandas = "*"
nlpnet = "*"
"h5py" = "*"
django-heroku = "*"
gunicorn = "*"
scikit-learn = "*"
jupyter = "*"
"beautifulsoup4" = "*"
requests = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
